<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <main class="creator-main-container">
        <nav class="creator-main-nav">
            <div class="creator-nav-button" @click="currentTab = 'construct'">Конструктор</div>
            <div class="creator-nav-button" @click="currentTab = 'result'">Результат</div>
        </nav>
        <div class="creator-tabs-container">
            <div class="creator-tab tab-construct" :class="{ 'tab-hidden': currentTab === 'result' }">
                <form action="">
                    <div v-if="1 === 2">
                    <label for="title">Название ДПП</label><input type="text" name="title" v-model="title">
                    <label for="authors">Автор/Авторский коллектив</label><input type="text" name="authors" v-model="authors">
                    <div class="row">
                        <div class="col">
                            <label for="coordPosition">Должность согласующего</label><input type="text" name="coordPosition"
                                v-model="coordPosition">
                        </div>
                        <div class="gap"></div>
                        <div class="col">
                            <label for="coordName">ФИО согласующего</label><input type="text" name="coordName" v-model="coordName">
                        </div>
                    </div>
                    <label for="relevance">Актуальность программы</label>
                    <textarea id="relevance" v-model="relevance" rows="6"></textarea>
                    <label for="target">Цель</label>
                    <textarea id="target" v-model="target" rows="2"></textarea>
                    <label for="studentsCategory">Категория обучающихся (слушателей)</label>
                    <select name="studentsCategory">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <label for="learningForm">Форма обучения</label>
                    <select name="learningForm">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <div class="row">
                        <div class="col">
                            <label for="">Режим аудиторных занятий – <input class="hours" type="number" name=""> часов
                                в день</label>
                        </div>
                        <div class="gap"></div>
                        <div class="col">
                            <label for="">Срок освоения программы – <input class="hours" type="number" name="">
                                часа(ов)</label>
                        </div>
                    </div>
                    </div>

                    <section class="modules">
                        <h3>Структура программы</h3>
                        <br>
                        <ul v-if="modules && modules.length">
                            <li v-for="module in modules" :key="module.index" @click.stop="moduleOpen(module)" :data-module="module.id">
                                {{ module.title }}
                                <ul v-if="moduleThemes(module.id)">
                                    <li v-for="theme in moduleThemes(module.id)" :key="theme.index" @click.stop="themeOpen(theme, module.id)" :data-theme="theme.id" :data-parent-id="module.id">
                                        {{ theme.title }}
                                        <ul v-if="themeActivities(theme.id)">
                                            <li v-for="activity in themeActivities(theme.id)" :key="activity.index" @click.stop="activityOpen(activity, theme.id)" :data-activity="activity.id" :data-parent-id="theme.id">
                                                {{ activity.title }}
                                                <ul v-if="activityCompetencies(activity.id)">
                                                    <li v-for="competence in activityCompetencies(activity.id)" :key="competence.index" @click.stop="competenceOpen(competence, activity.id)" :data-competence="competence.id" :data-parent-id="activity.id">
                                                        {{ competence.title }}
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>

                    <section class="content-add" v-if="moduleAddVisible">
                        <header>
                            <div class="left">
                                <span class="close" @click="moduleAddVisible = false">&times;</span>
                            </div>
                            <div class="title">
                                <h3>Добавление/редактирование модуля</h3>
                            </div>
                            <div class="right"></div>
                        </header>
                        <main>
                            <label>Наименование модуля</label><input type="text" v-model="curModule.title">
                        </main>
                        <footer>
                            <span class="button" @click="moduleSave()">Сохранить</span>
                            <span class="button" @click="themeAdd(curModule.id)">Добавить тему</span>
                            <span class="button" @click="moduleRemove()">Удалить модуль</span>
                        </footer>
                    </section>

                    <section class="content-add" v-if="themeAddVisible">
                        <header>
                            <div class="left">
                                <span class="close" @click="themeAddVisible = false">&times;</span>
                            </div>
                            <div class="title">
                                <h3>Добавление/редактирование темы</h3>
                            </div>
                            <div class="right"></div>
                        </header>
                        <main>
                            <label>Наименование темы</label><input type="text" v-model="curTheme.title">
                            <div class="row">
                                <div class="col">
                                    <label>Общая трудоемкость</label><input type="number" v-model="curTheme.labor">
                                </div>
                                <div class="gap"></div>
                                <div class="col">
                                    <label>Трудоемкость для ППС</label><input type="number" v-model="curTheme.labor_pps">
                                </div>
                            </div>
                            <br>
                            <h3><i>Аудиторные учебные занятия:</i></h3>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label>Лекции</label><input type="number" v-model="curTheme.lections">
                                </div>
                                <div class="gap"></div>
                                <div class="col">
                                    <label>Интерактивные занятия</label><input type="number" v-model="curTheme.interactives">
                                </div>
                            </div>
                            <br>
                            <h3><i>Внеаудиторные учебные занятия:</i></h3>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label>Теоритическая часть</label><input type="number" v-model="curTheme.theory">
                                </div>
                                <div class="gap"></div>
                                <div class="col">
                                    <label>Практическая часть</label><input type="number" v-model="curTheme.practice">
                                </div>
                            </div>
                            <label for="forms">Формы контроля</label>
                            <textarea id="forms" rows="2" v-model="curTheme.controls"></textarea>
                            <label for="content">Содержание темы</label>
                            <textarea id="content" rows="5" v-model="curTheme.contents"></textarea>
                        </main>
                        <footer>
                            <span class="button" @click="themeSave()">Сохранить</span>
                            <span class="button" @click="activityAdd(curTheme.id)">Добавить вид деятельности</span>
                            <span class="button" @click="themeRemove()">Удалить тему</span>
                        </footer>
                    </section>

                    <section class="content-add" v-if="activityAddVisible">
                        <header>
                            <div class="left">
                                <span class="close" @click="activityAddVisible = false">&times;</span>
                            </div>
                            <div class="title">
                                <h3>Добавление/редактирование вида деятельности</h3>
                            </div>
                            <div class="right"></div>
                        </header>
                        <main>
                            <label>Вид деятельности/ОТФ/ТФ</label><input type="text" v-model="curActivity.title">
                        </main>
                        <footer>
                            <span class="button" @click="activitySave()">Сохранить</span>
                            <span class="button" @click="competenceAdd(curActivity.id)">Добавить профессиональную компетенцию</span>
                            <span class="button" @click="activityRemove()">Удалить
                                вид деятельности</span>
                        </footer>
                    </section>

                    <section class="content-add" v-if="competenceAddVisible">
                        <header>
                            <div class="left">
                                <span class="close" @click="competenceAddVisible = false">&times;</span>
                            </div>
                            <div class="title">
                                <h3>Добавление/редактирование компетенции</h3>
                            </div>
                            <div class="right"></div>
                        </header>
                        <main>
                            <label>Профессиональная компетенция</label><input type="text" v-model="curCompetence.title">
                            <label>Практический опыт</label><input type="text" v-model="curCompetence.experience">
                            <label>Умение</label><input type="text" v-model="curCompetence.skill">
                            <label>Знание</label><input type="text" v-model="curCompetence.knowledge">
                        </main>
                        <footer>
                            <span class="button" @click="competenceSave()">Сохранить</span>
                            <span class="button" @click="competenceRemove()">Удалить профессиональную компетенцию</span>
                        </footer>
                    </section>

                <footer class="creator-main-actions">
                    <span class="button" @click="moduleAdd()" v-if="currentTab === 'construct'">Добавить модуль</span>
                    <span class="button" @click="exportToDoc()" v-if="currentTab === 'result'">Сохранить в формате <code>.doc</code></span>
                </footer>
            </div>
            <div class="creator-tab tab-result" :class="{ 'tab-hidden': currentTab === 'construct' }">
                <section class="result">

                    <table border="1" cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                        <tr>
                            <th>Виды деятельности/ОТФ/ТФ</th>
                            <th>Профессиональные компетенции (имеющиеся или осваиваемые)/ТД</th>
                            <th>Практический опыт</th>
                            <th>Умения</th>
                            <th>Знания</th>
                        </tr>
                        <template v-for="a in activities" :key="a.index">
                            <tr>
                                <td :rowspan="activityCompetencies(a.id).length || 1">{{ a.title }}</td>
                                <td v-if="activityCompetencies(a.id)[0]">{{ activityCompetencies(a.id)[0].title || '—'}}</td>
                                <td v-else>—</td>
                                <td v-if="activityCompetencies(a.id)[0]">{{ activityCompetencies(a.id)[0].experience || '—'}}</td>
                                <td v-else>—</td>
                                <td v-if="activityCompetencies(a.id)[0]">{{ activityCompetencies(a.id)[0].skill || '—'}}</td>
                                <td v-else>—</td>
                                <td v-if="activityCompetencies(a.id)[0]">{{ activityCompetencies(a.id)[0].knowledge || '—'}}</td>
                                <td v-else>—</td>
                            </tr>
                            <template v-for="c in noOneArray(activityCompetencies(a.id))" :key="c.index">
                                <tr>
                                    <td>{{ c.title || '—' }}</td>
                                    <td>{{ c.experience || '—' }}</td>
                                    <td>{{ c.skill || '—' }}</td>
                                    <td>{{ c.knowledge || '—' }}</td>
                                </tr>
                            </template>
                        </template>
                    </table>

                </section>
                <footer class="creator-main-actions">
                    <span class="button" :class="{ 'button-disabled': moduleAddVisible }" @click="moduleAdd()" v-if="currentTab === 'construct'">Добавить модуль</span>
                    <span class="button" @click="exportToDoc()" v-if="currentTab === 'result'">Сохранить в формате
                        <code>.doc</code></span>
                </footer>
            </div>
        </div>
    </main>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let creator = new Vue({
                el: '.creator-main-container',
                data() {
                    return {
                        currentTab: 'construct', // construct / result
                        moduleAddVisible: false,
                        themeAddVisible: false,
                        activityAddVisible: false,
                        competenceAddVisible: false,
                        title: '',
                        authors: '',
                        coordPosition: '',
                        coordName: '',
                        relevance: '1.1.1. Нормативную правовую основу разработки программы составляют: (приводятся ссылки на нормативно - правовые документы с указанием соответствующих разделов, пунктов, подпунктов, конкретного содержания данных разделов)./r/n1.1.2.Дополнительная профессиональная программа повышения квалификации «Название программы» разработана на основе профессиональных стандартов (квалификационных требований)(Приводится наименование профессионального стандарта, который использовался при разработке программы (http://profstandart.rosmintrud.ru/reestr-professionalnyh-standartov).При отсутствии профессионального стандарта приводится наименование соответствующего раздела Единого квалификационного справочника должностей руководителей, специалистов и служащих (ЕКС) - http://profstandart.rosmintrud.ru/eksd), либо ФГОС ВО по соответствующему направлению подготовки http://www.edu.ru/abitur/act.82/index.php#Par768',
                        target: '1.2. Цель - совершенствование и (или) получение новой(ых) компетенции(й), необходимой(ых) для профессиональной деятельности, и(или) повышение профессионального уровня в рамках имеющейся квалификации и в соответствии с профессиональными стандартами.',
                        curModule: {
                            id: null,
                            type: 'module',
                            title: '',
                        },
                        curTheme: {
                            id: null,
                            parent_id: null,
                            type: 'theme',
                            title: '',
                            labor: 0,
                            labor_pps: 0,
                            lections: 0,
                            interactives: 0,
                            theory: 0,
                            practice: 0,
                            controls: '',
                            contents: '',
                        },
                        curActivity: {
                            id: null,
                            parent_id: null,
                            type: 'activity',
                            title: '',
                        },
                        curCompetence: {
                            id: null,
                            parent_id: null,
                            type: 'competence',
                            title: '',
                            experience: '',
                            skill: '',
                            knowledge: ''
                        },
                        items: [],
                    }
                },
                computed: {
                    modules() {
                        return this.items.filter(i => i.type === 'module');
                    },
                    themes() {
                        return this.items.filter(i => i.type === 'theme');
                    },
                    activities() {
                        return this.items.filter(i => i.type === 'activity');
                    },
                    competencies() {
                        return this.items.filter(i => i.type === 'competence');
                    },
                },
                mounted() {
                    this.items = JSON.parse(localStorage.getItem('items')) || [];
                    let headerData = localStorage.getItem('headerData') || '';
                    if (headerData.length) {
                        let parsedData = JSON.parse(headerData);
                        this.title = parsedData.title;
                        this.authors = parsedData.authors;
                        this.coordPosition = parsedData.coordPosition;
                        this.coordName = parsedData.coordName;
                        this.relevance = parsedData.relevance;
                        this.target = parsedData.target;
                    }
                    // console.log(this.modules);
                    // console.log(this.themes);
                    // console.log(this.activities);
                    // console.log(this.competencies);
                    window.onbeforeunload = () => {
                    // this.storageSave();
                    };
                },
                methods: {
                    ///////
                    moduleThemes(id) {
                        return this.themes.filter(t => t.parent_id === id);
                    },
                    themeActivities(id) {
                        return this.activities.filter(a => a.parent_id === id);
                    },
                    activityCompetencies(id) {
                        return this.competencies.filter(c => c.parent_id === id);
                    },
                    ///////
                    storageSave() {
                        localStorage.setItem('items', JSON.stringify(this.items) || []);
                        let tmp = {
                            title: this.title,
                            authors: this.authors,
                            coordPosition: this.coordPosition,
                            coordName: this.coordName,
                            relevance: this.relevance,
                            target: this.target
                        };
                        localStorage.setItem('headerData', JSON.stringify(tmp));
                    },
                    closeAll() {
                        this.moduleAddVisible = false;
                        this.themeAddVisible = false;
                        this.activityAddVisible = false;
                        this.competenceAddVisible = false;
                    },
                    // ******* Modules *******
                    moduleAdd() {
                        this.curModule.title = '';
                        this.curModule.id = Date.now();
                        this.moduleAddVisible = true;
                    },
                    moduleSave() {
                        if (!this.curModule.title) {
                            alert('Необходимо указать название модуля');
                            return;
                        }
                        let found = this.items.some(i => {
                            return i.id === this.curModule.id;
                        });
                        if (!found) {
                            let tmp = JSON.parse(JSON.stringify(this.curModule));
                            this.items.push(tmp);
                            this.storageSave();
                        } else {
                            this.moduleUpdate();
                        }
                    },
                    moduleOpen(module) {
                        this.closeAll();
                        this.curModule = {...module};
                        this.moduleAddVisible = true;
                    },
                    moduleUpdate() {
                        let items = [...this.items];
                        let index = items.map(i => {
                            return i.id
                        }).indexOf(this.curModule.id);
                        if (index > -1) {
                            items[index] = {...this.curModule};
                            this.items = items;
                            this.storageSave();
                            console.log(this.items);
                        }
                    },
                    moduleRemove() {
                        let ask = confirm('Вы уверены?');
                        if (ask) {
                            let index = this.items.map(i => {
                                return i.index
                            }).indexOf(this.curModule.index);
                            if (index > -1) {
                                this.items.splice(index, 1);
                                this.storageSave();
                                this.moduleAddVisible = false;
                            }
                        }
                    },
                    // ******* Themes *******
                    themeAdd(moduleId) {
                        this.curTheme.title = '';
                        this.curTheme.labor = 0;
                        this.curTheme.labor_pps = 0;
                        this.curTheme.lections = 0;
                        this.curTheme.interactives = 0;
                        this.curTheme.theory = 0;
                        this.curTheme.practice = 0;
                        this.curTheme.controls = '';
                        this.curTheme.contents = '';
                        this.curTheme.id = Date.now();
                        this.curTheme.parent_id = moduleId;
                        this.themeAddVisible = true;
                    },
                    themeSave() {
                        if (!this.curTheme.title) {
                            alert('Необходимо указать название темы');
                            return;
                        }
                        let found = this.items.some(i => {
                            return i.id === this.curTheme.id;
                        });
                        if (!found) {
                            let tmp = JSON.parse(JSON.stringify(this.curTheme));
                            this.items.push(tmp);
                            this.storageSave();
                        } else {
                            this.themeUpdate();
                        }
                    },
                    themeOpen(theme, parent) {
                        this.closeAll();
                        this.curTheme = {...theme};
                        if (!this.curTheme.parent_id && parent) {
                            this.curTheme.parent_id = parent;
                        }
                        this.themeAddVisible = true;
                    },
                    themeUpdate() {
                        let items = [...this.items];
                        let index = items.map(i => {
                            return i.id
                        }).indexOf(this.curTheme.id);
                        if (index > -1) {
                            items[index] = { ...this.curTheme };
                            this.items = items;
                            this.storageSave();
                        }
                    },
                    themeRemove() {
                        let ask = confirm('Вы уверены?');
                        if (ask) {
                            let index = this.items.map(i => {
                                return i.index
                            }).indexOf(this.curTheme.index);
                            if (index > -1) {
                                this.items.splice(index, 1);
                                this.storageSave();
                                this.themeAddVisible = false;
                            }
                        }
                    },
                    // ******* Activities *******
                    activityAdd(themeId) {
                        this.curActivity.title = '';
                        this.curActivity.id = Date.now();
                        this.curActivity.parent_id = themeId;
                        this.activityAddVisible = true;
                    },
                    activitySave() {
                        if (!this.curActivity.title) {
                            alert('Необходимо указать название вида деятельности');
                            return;
                        }
                        let found = this.items.some(i => {
                            return i.id === this.curActivity.id;
                        });
                        if (!found) {
                            let tmp = JSON.parse(JSON.stringify(this.curActivity));
                            this.items.push(tmp);
                            this.storageSave();
                        } else {
                            this.activityUpdate();
                        }
                    },
                    activityOpen(activity) {
                        this.closeAll();
                        this.curActivity = {...activity};
                        if (!this.curActivity.parent_id && parent) {
                            this.curActivity.parent_id = parent;
                        }
                        this.activityAddVisible = true;
                    },
                    activityUpdate() {
                        let items = [...this.items];
                        let index = items.map(i => {
                            return i.id
                        }).indexOf(this.curActivity.id);
                        if (index > -1) {
                            items[index] = { ...this.curActivity };
                            this.items = items;
                            this.storageSave();
                        }
                    },
                    activityRemove() {
                        let ask = confirm('Вы уверены?');
                        if (ask) {
                            let index = this.items.map(i => {
                                return i.index
                            }).indexOf(this.curActivity.index);
                            if (index > -1) {
                                this.items.splice(index, 1);
                                this.storageSave();
                                this.activityAddVisible = false;
                            }
                        }
                    },
                    // ******* Competencies *******
                    competenceAdd(activityId) {
                        this.curCompetence.title = '';
                        this.curCompetence.experience = '';
                        this.curCompetence.skill = '';
                        this.curCompetence.knowledge = '';
                        this.curCompetence.id = Date.now();
                        this.curCompetence.parent_id = activityId;
                        this.competenceAddVisible = true;
                    },
                    competenceSave() {
                        if (!this.curCompetence.title) {
                            alert('Необходимо указать название модуля');
                            return;
                        }
                        let found = this.items.some(i => {
                            return i.id === this.curCompetence.id;
                        });
                        if (!found) {
                            let tmp = JSON.parse(JSON.stringify(this.curCompetence));
                            this.items.push(tmp);
                            this.storageSave();
                        } else {
                            this.moduleUpdate();
                        }
                    },
                    competenceOpen(competence) {
                        this.closeAll();
                        this.curCompetence = {...competence};
                        if (!this.curCompetence.parent_id && parent) {
                            this.curCompetence.parent_id = parent;
                        }
                        this.competenceAddVisible = true;
                    },
                    competenceUpdate() {
                        let items = [...this.items];
                        let index = items.map(i => {
                            return i.id
                        }).indexOf(this.curCompetence.id);
                        if (index > -1) {
                            items[index] = { ...this.curCompetence };
                            this.items = items;
                            this.storageSave();
                        }
                    },
                    competenceRemove() {
                        let ask = confirm('Вы уверены?');
                        if (ask) {
                            let index = this.items.map(i => {
                                return i.index
                            }).indexOf(this.curCompetence.index);
                            if (index > -1) {
                                this.items.splice(index, 1);
                                this.storageSave();
                                this.competenceAddVisible = false;
                            }
                        }
                    },
                    // ******* Export to .doc *******
                    exportToDoc() {
                        let preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
                        let postHtml = "</body></html>";
                        let html = preHtml + document.querySelector('.result').innerHTML + postHtml;
                        let blob = new Blob(['\ufeff', html], {
                            type: 'application/msword'
                        });
                        let url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
                        filename = 'document.doc';
                        let downloadLink = document.createElement('a');
                        document.body.appendChild(downloadLink);
                        if (navigator.msSaveOrOpenBlob) {
                            navigator.msSaveOrOpenBlob(blob, filename);
                        } else {
                            downloadLink.href = url;
                            downloadLink.download = filename;
                            downloadLink.click();
                        }
                        document.body.removeChild(downloadLink);
                    },
                    // result page
                    // array without first elem
                    noOneArray(arr) {
                        return [...arr].slice(1);
                    }
                }
            });
        });
    </script>



    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', 'Open Sans', 'Trebuchet MS', 'Verdana', 'Tahoma', sans-serif;
            font-size: 15px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

        body {
            display: flex;
            justify-content: center;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        li {
            padding-left: 15px;
        }

        .button {
            background-color: #da251d;
            border: none;
            color: white;
            cursor: pointer;
            padding: 5px 15px;
            margin-right: 25px;
            transition: background-color 0.1s;
            user-select: none;
            -moz-user-select: none;
        }

        .button:hover {
            background-color: #3088b8;
        }

        .button-disabled {
            pointer-events: none;
            background-color: #777777;
        }

        .creator-main-container {
            display: flex;
            flex-direction: column;
            min-height: 860px;
            width: 1274px;
            min-width: 1274px;
        }

        .creator-main-nav,
        .creator-main-actions {
            display: flex;
            width: 100%;
        }

        .creator-main-nav {
            height: 40px;
        }

        .creator-main-actions {
            height: 50px;
            background: #ffffff;
            padding: 10px 0;
        }

        .creator-nav-button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            cursor: pointer;
            transition: background-color 0.18s;
        }

        .creator-nav-button:hover {
            background: #dfdfdf;
        }

        .creator-tabs-container {
            display: flex;
            flex: 1;
        }

        .creator-tab {
            min-height: 100%;
            flex: 1;
            background: rgba(255, 255, 255, 0.8);
            padding: 5px;
        }

        .creator-tab .result {
            padding: 30px;
        }

        .creator-tab .result * {
            font-family: 'Times New Roman', serif;
        }

        .creator-tab.tab-hidden {
            display: none;
        }

        form label {
            display: block;
            width: 100%;
        }

        form input,
        form select,
        form textarea {
            background-color: #ffffff;
            border: 1px solid #c9ccd4;
            margin: 7px 0;
            border-radius: 2px;
            padding: 3px 6px;
            box-shadow: inset 0 1px 3px #dddddd;
        }

        form input,
        form textarea {
            width: 100%;
        }

        form textarea {
            resize: vertical;
        }

        form input.hours {
            width: 80px;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }

        input[type='number'] {
            -moz-appearance: textfield;
        }

        .row {
            width: 100%;
            display: flex;
        }

        .row .col {
            flex: 1;
        }

        .row .gap {
            width: 15px;
        }

        .content-add {
            background: #fdfdfd;
            padding: 0 15px 5px 15px;
            margin: 15px 0 5px 0;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px #888888;
            pointer-events: all;
        }

        .content-add header,
        .content-add footer {
            display: flex;
            height: 40px;
        }

        .content-add footer {
            padding: 5px 15px;
        }

        .content-add header,
        .content-add footer {
            border: none;
        }

        .content-add header .left,
        .content-add header .right {
            flex: 1;
        }

        .content-add header .left {
            justify-content: flex-start;
        }

        .content-add header .right {
            justify-content: flex-end;
        }

        .content-add header .title {
            flex: 8;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .content-add header .close {
            color: #da251d;
            font-size: 28px;
            font-weight: bold;
        }

        .content-add header .close:hover,
        .content-add header .close:focus {
            color: #3088b8;
            text-decoration: none;
            cursor: pointer;
        }

        .content-add main {
            height: calc(100% - 80px);
            padding: 15px 0;
        }

        .modules {
            border-top: 1px solid #aaa;
            padding-top: 10px;
        }

        .module,
        .theme {
            cursor: pointer;
            color: rgb(49, 49, 230);
        }

        .module:hover,
        .theme:hover {
            color: rgb(22, 22, 223);
        }

        .result table th,
        .result table td {
            padding: 3px;
        }
    </style>
</body>

</html>